body {
    background-color: #006400;
}

.table {
    text-align: center;
}

img {
    width:80%;
    display: inline;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  /* Set the fixed height of the footer here */
}

#header {
  position: absolute;
  top: 0;
  width: 95%;
  /* Set the fixed height of the footer here */
}