<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
            $(document).ready(function() {

                //Immediately detach the form elements needed for registered
                //players from the DOM.
                var joinform = $("#join");
                var editform = $("#edit").detach();
                var voteform = $("#vote").detach();
                var leaveform = $("#leave").detach();

                function join_handler(e) {
                    $.ajax({
                        type: 'POST',
                        url: '/lobby/join',
                        timeout: 10000,
                        dataType: 'json',
                        data: {'username': $("#username").val()},
                        success: lobby_join
                    });
                    return false;
                }

                
                //Immediately tie the "join" form to its handler function
                $("#join").on('submit', join_handler);

                function lobby_update(data) {
                    if(data.redirect) {
                        window.location.replace('/game');
                    } else {
                        $("#updatelabel").remove();
                        $("#players").empty();

                        for(i = 0; i < data.users.length; i++) {
                            var node = document.createElement("tr");
                            node.id = "playerdata";

                            var playerName = data.users[i][0];
                            var playerVote = data.users[i][1];

                            if($("#idnum").val() && i == 0) {
                                playerName += ' (You)';
                            }

                            var nameField = document.createElement("td");
                            nameField.appendChild(document.createTextNode(playerName));

                            var voteField = document.createElement("td");
                            voteField.appendChild(document.createTextNode(playerVote));

                            node.appendChild(nameField);
                            node.appendChild(voteField);

                            $("#players").append(node);
                        }
                    }
                }

                function lobby_join(data) {
                    //Rebuilds the lobby into the version of the lobby that presents options
                    //to registered users.
                    $("#idnum").attr('value', data.idnum);

                    $("#join").detach();

                    $("#formoptions").append(editform);
                    $(editform).on('submit', edit_handler);

                    $("#formoptions").append(voteform);
                    $(voteform).on('submit', vote_handler);

                    $("#formoptions").append(leaveform);
                    $(leaveform).on('submit', leave_handler);

                    long_poll();

                    return false;
                }

                function long_poll() {
                    $.ajax({
                        type: 'POST',
                        url: '/lobby/update',
                        timeout: 10000,
                        async: 'true',
                        cache: 'false',
                        data: {'idnum': $("#idnum").val()},
                        dataType: 'json',
                        success: lobby_update
                    });
                }

                long_poll();
                setInterval(long_poll, 3000);
            });
        </script>
  </head>

  <body>

    <div class="container">

      <form method="POST" action="/lobby/join" class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" name="username" placeholder="Email address" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Join">Join</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
